---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
  	<style>


body {
  margin: 0;
  font-family: Arial;
}

img {
  border-radius: 8px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
    {{ content }}
      

<!-- Photo Grid -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
<div class="row"> 
  <div class="column" style="box-sizing: border-box;">
    <a href="/uploads/personal/Mourning-in-blue.jpg"><img src="/uploads/personal/Mourning-in-blue.jpg" style="width:100%" alt="Abstract headshot of a woman with a triangle around her neck."></a>
    <a href="/uploads/personal/tarot.jpg"><img src="/uploads/personal/tarot.jpg" style="width:100%" alt="Shot of woman dressed as a forune teller with a crystal ball as glowing eyes wait in the background."></a>
    <a href="/uploads/personal/blur.jpg"><img src="/uploads/personal/blur.jpg" style="width:100%" alt="Long exposure of a basement. Lights stretch across the screen and image of a person is partially seen."></a>
    <a href="/uploads/personal/city.jpg"><img src="/uploads/personal/city.jpg" style="width:100%" alt="Stylized photo of the Cincinnati skyline."></a>
    <a href="/uploads/personal/phade.jpg"><img src="/uploads/personal/phade.jpg" style="width:100%" alt="A sleepy looking male model has bokeh surrounding him."></a>
    <a href="/uploads/personal/memories.jpg"><img src="/uploads/personal/memories.jpg" style="width:100%" alt="A male model stands in front of a house that appears to be on fire."></a>
    <a href="/uploads/personal/studyinred.jpg"><img src="/uploads/personal/studyinred.jpg" style="width:100%" alt="An old camera, bird skull, deer antler and some lavender are layed out on a deep red fabric."></a>
    <a href="/uploads/personal/fiji.jpg"><img src="/uploads/personal/fiji.jpg" style="width:100%" alt="A statue of a woman on a horse coming out of the ocean to a beached bottle of fiji water."></a>
    <a href="/uploads/personal/Tranz.jpg"><img src="/uploads/personal/Tranz.jpg" style="width:100%" alt="A statue of 2D from the Gorillaz on a black background."></a>
  </div>
  <div class="column" style="box-sizing: border-box;">
    <a href="/uploads/personal/twin.jpg"><img src="/uploads/personal/twin.jpg" style="width:100%" alt="A woman holds a skull while floating in front of a pink background."></a>
    <a href="/uploads/personal/Bath.jpg"><img src="/uploads/personal/Bath.jpg" style="width:100%" alt="An aerial shot of a large man having a bath in a pond."></a>
    <a href="/uploads/personal/bold.jpg"><img src="/uploads/personal/bold.jpg" style="width:100%" alt="A pink and baby blue image of a woman smoking an arizona can with text that says Bold."></a>
    <a href="/uploads/personal/thought.jpg"><img src="/uploads/personal/thought.jpg" style="width:100%" alt="A woman has a zipper on her neck revealing an ocean within."></a>
    <a href="/uploads/personal/rose.jpg"><img src="/uploads/personal/rose.jpg" style="width:100%" alt="A side view of roses in a purple haze."></a>
    <a href="/uploads/personal/oasis.jpg"><img src="/uploads/personal/oasis.jpg" style="width:100%" alt="Mountains surrounding an oasis in Arizona."></a>
    <a href="/uploads/personal/studyinred2.jpg"><img src="/uploads/personal/studyinred2.jpg" style="width:100%" alt="Several items, including a dear skull and a jar of rose petals, laid out on a dark red fabric."></a>
    <a href="/uploads/personal/flamingos.jpg"><img src="/uploads/personal/flamingos.jpg" style="width:100%" alt="An abstract shot of several blue flamingos with burgers around them."></a>
  </div>  
  <div class="column" style="box-sizing: border-box;">
    <a href="/uploads/personal/star.jpg"><img src="/uploads/personal/star.jpg" style="width:100%" alt="A partially transparent pointed object has a hand pushing against the internal wall."></a>
    <a href="/uploads/personal/beachwarp-color.jpg"><img src="/uploads/personal/beachwarp-color.jpg" style="width:100%" alt="A photo of a beach with the shore quickly turning 90 degrees."></a>
    <a href="/uploads/personal/breath.jpg"><img src="/uploads/personal/breath.jpg" style="width:100%" alt="Abstract photo of a man with a tree, light house and telephone poles coming out of his head."></a>
    <a href="/uploads/personal/smoke.jpg"><img src="/uploads/personal/smoke.jpg" style="width:100%" alt="Stylized photo of a blue and orange man smoking on a portch."></a>
    <a href="/uploads/personal/funkel.jpg"><img src="/uploads/personal/funkel.jpg" style="width:100%" alt="Profile photo of a man with a small face and vibrant colors."></a>
    <a href="/uploads/personal/cat.jpg"><img src="/uploads/personal/cat.jpg" style="width:100%" alt="Dramatic side photo of a cats face on a dark background."></a>
    <a href="/uploads/personal/studyinred3.jpg"><img src="/uploads/personal/studyinred3.jpg" style="width:100%" alt="A bear skull, wooden fan, jar of rose petals and deer antler laid out on a dark red fabric. "></a>
    <a href="/uploads/personal/floater.jpg"><img src="/uploads/personal/floater.jpg" style="width:100%" alt="A violin and bow float in front of a window in an old barn."></a>
    <a href="/uploads/personal/words.jpg"><img src="/uploads/personal/words.jpg" style="width:100%" alt="A man holds a tambourine and is surronded by corporate jargon."></a>
  </div>
  <div class="column" style="box-sizing: border-box;">
    <a href="/uploads/personal/split.jpg"><img src="/uploads/personal/split.jpg" style="width:100%" alt="A woman with green skin has her head opening into black smoke."></a>
    <a href="/uploads/personal/science.jpg"><img src="/uploads/personal/science.jpg" style="width:100%" alt="A man inspects his glasses in blue/yellow light."></a>
    <a href="/uploads/personal/colors.jpg"><img src="/uploads/personal/colors.jpg" style="width:100%" alt="A profile photo of a man in red/blue lighting."></a>
    <a href="/uploads/personal/oasis2.jpg"><img src="/uploads/personal/oasis2.jpg" style="width:100%" alt="A photo of an oasis in Arizona at sunset."></a>
    <a href="/uploads/personal/sadboy.jpg"><img src="/uploads/personal/sadboy.jpg" style="width:100%" alt="A man holding his glasses while pixels fall from under the lenses."></a>
    <a href="/uploads/personal/photoshoot.jpg"><img src="/uploads/personal/photoshoot.jpg" style="width:100%" alt="A woman sits with a skull on her lap surrounded by cloth."></a>
    <a href="/uploads/personal/pool.jpg"><img src="/uploads/personal/pool.jpg" style="width:100%" alt="A night time shot of a public pool."></a>
    <a href="/uploads/personal/Hands.jpg"><img src="/uploads/personal/Hands.jpg" style="width:100%" alt="Green hands reaching out of water towards triangles."></a>
    <a href="/uploads/personal/woods.jpg"><img src="/uploads/personal/woods.jpg" style="width:100%" alt="Model style photo of a masked woman leaning on a stump in the woods."></a>
  </div>
</div>
  </div>
  <script type="text/javascript" src="/assets/js/lightbox.js"></script>
  <link rel="stylesheet" href="/assets/css/lightbox.css">
</body>
</article>

